[Unit]
Description=Install Arch updates at 06:00
Requires=arch-automatic-update.service

[Timer]
Unit=arch-automatic-update.service
Persistent=true
OnCalendar=*-*-* 06:00:00

[Install]
WantedBy=timers.target

